<h2><%= searchTitle %></h2>
<form action="/search" method="post" onsubmit="<% ( e ) => e.preventDefault() %>">
    <input type="search" name="search" placeholder="Enter Email or User To Search" id="search">
</form>
<%- include( 'partials/errors.ejs' ) %>
<% if ( locals.search ) { %>
    <ul class="searchCardHolder"></ul>
    <% search.forEach( result => { %>
        <li class="searchCard">
            <span>
                Name: <%= result.firstname %> <%= result.lastname %>
            </span>
            <span>
                ID: <%= result.id %>,
                 Age: <%= result.age %>
            </span>
            <span>
                Bio: <%= result.bio %> 
            </span>
        </li>
    <% }) %>
    </ul>
<% } %>