<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/createStyles.css">
    <title><%= title %></title>
</head>
<body>
    <div class="createContainer">
        <%- include( 'pageTitle' ) %>
        <section class="updateCardHolder">
        <h2><%= title %></h2>
        <h3>User id: <%= user %></h3>
        <form action="/<%= user %>/update" method="post" class="updateForm" >
            <span>Take care to enter correct email for changes to take place</span>
            <label for="firstName">Update First Name: <input type="text" name="firstName" id="firstName"></label>
            <label for="lastName">Update Last Name: <input type="text" name="lastName" id="lastName"></label>
            <label for="age">Update Age: <input type="number" name="age" id="age" min="18" max="120"></label>
            <label for="email">Confirm User Email: <input type="email" name="email" id="email" required></label>
            <button type="submit" >Update</button>
        </form>
        <a href="/" class="updateBackButton">
            <svg fill="#91c8e4db" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M320,112H192V48h-32L0,208l160,160h32v-64h160c88.365,0,112,71.635,112,160h48V304C512,197.962,426.038,112,320,112z"></path> </g> </g> 
                </g></svg>
        </a>
        </section>
    </div>
</body>
</html>